@import url('https://fonts.googleapis.com/css2?family=Cairo&display=swap');
body{
  background-color:#3C2A21;
  background-image: url("https://scontent.xx.fbcdn.net/v/t1.15752-9/333552827_543344807913635_6279009790780269573_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=aee45a&_nc_ohc=jdiFjav8H10AX9ilRCu&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&oh=03_AdTUGdrZUdeoKUMPscTR1-l8mxJm81mu3fAPWHJ426SdJw&oe=6435A910");
  background-repeat: no-repeat;
  background-size:cover;
  padding: 0;
  margin: 0px 20px;
  text-align: center;
  color: white;
  font-family: cairo;
  text-shadow: 
  0px 5px 3px #000000,
   2px 2px #000000,
    -2px -2px #000000,
     0px 2px #000000,
     2px 0px #000000,
     -2px 0px #000000,
     0px -2px #000000;
}
h1{
   color: coral;
}
p{
  padding-top: 20px;
}
.btn{
      width: 200px;
      height: 100px;
       position: absolute;
       left:50%;
       margin-left:-100px;
       top:70%;
}
a{
  color: white;
  text-decoration: none;
  padding: 2px 30px;
  background-color: #3C2A21;
  border: solid #1A120B 3px;
  border-radius: 10px;
  box-shadow: 0px 3px #000000;
  align-items: center;
  position: absolute;
  left: 50%;
  margin-left: -40px;

}
mark{
     margin:0px 5px;
     text-shadow: none;
     width:10px;
     background-color: coral;
     
}
a:hover{
        color:coral;
        top:3px;
        box-shadow: 0px 0px #000000;
}

@media(min-width:800px){
                         body{
                             background-image: url("https://scontent.xx.fbcdn.net/v/t1.15752-9/335766592_197629262867908_421940977458099983_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=aee45a&_nc_ohc=YO_YSnUr1HAAX8RnF9t&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&oh=03_AdSknm1HwVbgzXt4s-1vrwts_xN4rGEl3m0HXwuuDny_xA&oe=6435AD74");
                             margin: 0px 200px;
                         }
                         h1{
                          color: coral;
                         }
                         a{
                              padding:3px 70px;
                              position: absolute;
                              left: 50%;
                              margin-left: -80px;
                              
                         }
}
